*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.confirmation{
    margin-top: 30vh;
}
.color-card{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient*/
}
.button-next{
    color: #fff;
    border: none;
    background: rgb(147,3,160); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(147,3,160,1) 2%, rgba(237,4,182,1) 50%, rgba(80,0,209,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(147,3,160,1) 2%,rgba(237,4,182,1) 50%,rgba(80,0,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(147,3,160,1) 2%,rgba(237,4,182,1) 50%,rgba(80,0,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9303a0', endColorstr='#5000d1',GradientType=1 ); 
}