*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Pantalla de fondo */ 
.city {
  background-image: url("../assets/images/city.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
  height: 100vh;
}
/* Logo Lyft */
.lyft{
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 12vh;
  width: 30%;
}
/* Botones de registro e inicio de sesión */
button{
  background-color: rgba(0, 0, 0, 0.3);
  top: 4em;
}
