<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/finish.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-center confirmation">
          <div class="card-body color-card">
            <h4 class="card-title">Account confirmed</h4>
            <p class="card-text">Your account was confirmed successfully, now you can log in with your email.</p>
            <a href="#" id="buttonLogIn" class="button-next btn btn-primary text-uppercase">go log in!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/finish.js"></script>
</body>
</html>