<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <button id="buttonPrev" class="btn fa fa-angle-left rounded-circle bg-white icon"></button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="text-center mt-4">We are very sorry</h4>
        <p class="text-center">We are improving your navigation</p>
        <br>
        <img class="d-flex justify-content-center mx-auto" src="../assets/images/equipo.gif" alt="">
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/login.js"></script>
</body>
</html>