<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <button id="buttonPrev" href="" class="btn fa fa-angle-left rounded-circle bg-white icon"></button>
        <h2 class="text-center mt-5">Sign up</h2>
        <p class="text-center">Join now for free ride credit</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="input-group">
   <select class="ml-5" name="" id="">
     <option value="eeuu" id="eeuu">EEUU</option>
     <option value="mxd" id="mxd">MXD</option>
     <option value="per" id="per">PER</option>
     <option value="col" id="col">COL</option>
   </select>
    <input type="text" id="inputNumber" class="form-control mr-5" aria-label="phone-number" aria-describedby="basic-addon1">
  </div>
  <span id="msn"class="bg-warning text-light ml-5 rounded p-1">escriba su número de teléfono</span>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center p mt-3">We'll send a text to verify your phone</p>
        <button type="submit" id="buttonNext" class="btn btn-block text-uppercase mt-5">next</button>
      </div>
    </div>
  </div>
  <!--<div class="container">
    <div class="row">
      <div class="col">
          <div class="alert alert-light border border-secondary text-dark text-center" role="alert">
              Tu código es: LAB- <span id="random"></span>
              <br>
              <button class="btn btn-primary">ok</button>
          </div>
      </div>
    </div>
  </div>-->
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="https://code.jquery.com/jquery-latest.js"></script>
  
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/signup.js"></script>
</body>
</html>