<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/verify.css">
</head>
<body> 
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <!--<button id="buttonPrev" class="btn fa fa-angle-left rounded-circle bg-white icon"></button>-->
        <br>
        <br>
        <div class="text-center mt-3">
          <h4 class="tittle-verify mb-4">Verify your phone number</h4>
          <h6 class="p-verify">Join now for free ride credit</h6>
          <hr>
        </div>
          <div class=" d-flex justify-content-start w-50 mx-auto">
            <p class="lab mb-0 text-center mr-2 w-50 d-inline-block pt-3" id="basic-addon1">LAB-</p>
            <div class="insert-text d-flex justify-content-start">
              <input id="codeInput1" type="number" class="lab-group form-control border border-top-0 border-dark rounded-0 border-right-0 border-left-0 mr-1 mb-3" aria-describedby="basic-addon1">
              <input id="codeInput2" type="text" class="lab-group form-control border border-top-0 border-dark rounded-0 border-right-0 border-left-0 mr-1 mb-3" aria-describedby="basic-addon1">
              <input id="codeInput3" type="text" class="lab-group form-control border border-top-0 border-dark rounded-0 border-right-0 border-left-0 mb-3" aria-describedby="basic-addon1">
            </div>
          </div>
          <span id="span"class="bg-warning text-light p-1 rounded">escriba su código</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
          <p class="text-center mt-5 p p-verify">Enter the code sent to your phone</p>
          <button id="resend" class="btn btn-muted d-flex justify-content-center mx-auto">resend code</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <button id="buttonNext" class="btn btn-block text-uppercase btn-next">next</button>
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/verify.js"></script>
</body>
</html>